@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.web {
  width: 50px;
}
.album {
  width: 200px;
}

* {
  box-sizing: border-box;
  font-family: IM Fell English SC;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: grey;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/abstract-smoke-background-michal-boubin.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.rap-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
}
.main-footer {
  background-color: lightblue;
  color: blue;
  padding: 20 20;
  margin-bottom: 1;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}
.footer-nav li {
  padding: 0 0.5em;
}
.footer-nav img {
  width: 30px;
}
